<div class="tab-content">
  <div class="tab-pane fade in active todos-widget-container" role="tabpanel">
    <% if(can_administrate_household) { %>
      <div class="row">
        <div class="col-xs-3">
          <a href="#" class="btn btn-primary" data-summon-modal>
            Create <%= title %>
            <i class="fa fa-plus"></i>
          </a>
        </div>
        <div class="col-xs-4"></div>
        <div class="col-xs-5 todo-filter pull-right">
          <div class="todo-search-widget">
            <input name="todo-filter" class="form-control" placeholder="Search" data-filter-todo>
            <i class="fa fa-search"></i>
          </div>
        </div>
      </div>
    <% } %>

    <div class="active-list-container"></div>
    <div class="completed-list-container"></div>
  </div>
</div>
