<div class="todo-list-wrap col-lg-12">
  <table class="todo-list table table-hover">
    <thead>
      <th></th>
      <th></th>
      <th></th>
      <th class="todo-controls-header"></th>
    </thead>
    <tbody>
    </tbody>
  </table>
</div>
