.honeydo-nav {
  &.parked {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 5rem;
    background: none;
  }
  &.fixed {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 3rem;
  }
}
