.honeydo-nav {
  position: fixed;
  top: 0; left: 0;
  width: 100%;
  padding-left: 5em;
  padding-right: 5em;

  @include transition(all 0.3 ease);
  transition: all 0.3s ease;

  &.parked {
    padding-top: 1em;
    padding-bottom: 1em;
  }

  &.fixed {
    padding-top: 0;
    padding-bottom: 0;
    background-color: black;
    @include background(linear-gradient(135deg, rgb(74, 13, 143) 0%, rgb(250, 42, 143) 100%));
    @include box-shadow(0px 5px 23px 0px rgba(0, 0, 0, 0.1));
  }
}
