%header.honeydo-hero
  %h1.display-1.honeydo-hero-title HONEY DO
  .honeydo-hero-subtitle Organize your household
  .hero-img-wrap
    = image_tag 'landing/iphonex_body_empty', :class => 'hero-img-frame'
    .hero-img-position
      .hero-img-placeholder
        = image_tag 'landing/hero_vid_placeholder'
      .hero-vid
        = video_tag 'test_record003-2018-05-07_21.24.40.mp4', {:autoplay => true, :loop => true}

.landing-section.landing-section-features.light-bg
  .container
    .landing-section-title
      %h3 Stop forgetting things
    .row
      .col-12.col-lg-4
        .card.features{:data => {"touch-hover" => true }}
          .card-body
            .media
              %span.feature-icon.mr-3
                %i.fa.fa-smile-o
              .media-body
                %h4.card-title Simple
                %p.card-text
                  Don't get bogged down with data entry.  Focus on things to do and things to buy.

      .col-12.col-lg-4
        .card.features{:data => {"touch-hover" => true }}
          .card-body
            .media
              %span.feature-icon.mr-3
                %i.fa.fa-mobile
              .media-body
                %h4.card-title Multiplatform
                %p.card-text
                  Available on desktop, iOS, Android, and anything with a browser.

      .col-12.col-lg-4
        .card.features{:data => {"touch-hover" => true }}
          .card-body
            .media
              %span.feature-icon.mr-3
                %i.fa.fa-users
              .media-body
                %h4.card-title Shareable
                %p.card-text
                  Add family members to your household so you can all see what needs to be done.

#try_it.landing-section.landing-section-try-it
  .container
    .landing-section-title
      %h3 Try it live

    %iframe{:src => demo_path}

.landing-sesction.landing-section-faq
  .container
    .landing-section-title
      %h3 Frequently Asked Questions
    .row.pt-4
      .col-md-6
        %h4.mb-3 Come up with some questions?
        %p.mb-5
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer rutrum, urna eu pellentesque pretium, nisi nisi fermentum enim, et sagittis dolor nulla vel sapien. Vestibulum sit amet mattis ante.
      .col-md-6
        %h4.mb-3 Come up with some questions?
        %p.mb-5
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer rutrum, urna eu pellentesque pretium, nisi nisi fermentum enim, et sagittis dolor nulla vel sapien. Vestibulum sit amet mattis ante.

    .row.pt-4
      .col-md-6
        %h4.mb-3 And maybe some more questions?
        %p.mb-5
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer rutrum, urna eu pellentesque pretium, nisi nisi fermentum enim, et sagittis dolor nulla vel sapien. Vestibulum sit amet mattis ante.
      .col-md-6
        %h4.mb-3 And maybe some more questions?
        %p.mb-5
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer rutrum, urna eu pellentesque pretium, nisi nisi fermentum enim, et sagittis dolor nulla vel sapien. Vestibulum sit amet mattis ante.
