%header.honeydo-hero
  %h1.display-1.honey-do-hero-title HONEY DO
  .honey-do-hero-subtitle Organize your household
  .hero-img-wrap
    = image_tag 'landing/iphonex_body_empty', :class => 'hero-img-frame'
    .hero-img-position
      .hero-img-placeholder
        = image_tag 'landing/hero_vid_placeholder'
      .hero-vid
        = video_tag 'test_record003-2018-05-07_21.24.40.mp4', {:autoplay => true, :loop => true}

.landing-section.landing-section-features.light-bg
  .container
    .landing-section-title
      %h3 Stop forgetting things
    .row
      .col-12.col-lg-4
        .card.features{:data => {"touch-hover" => true }}
          .card-body
            .media
              %span.feature-icon.mr-3
                %i.fa.fa-smile-o
              .media-body
                %h4.card-title Simple
                %p.card-text
                  Don't get bogged down with data entry.  Focus on things to do and things to buy.

      .col-12.col-lg-4
        .card.features{:data => {"touch-hover" => true }}
          .card-body
            .media
              %span.feature-icon.mr-3
                %i.fa.fa-mobile
              .media-body
                %h4.card-title Multiplatform
                %p.card-text
                  Available on desktop, iOS, Android, and anything with a browser.

      .col-12.col-lg-4
        .card.features{:data => {"touch-hover" => true }}
          .card-body
            .media
              %span.feature-icon.mr-3
                %i.fa.fa-users
              .media-body
                %h4.card-title Shareable
                %p.card-text
                  Add family members to your household so you can all see what needs to be done.

#try_it.landing-section.landing-section-try-it
  .container
    .landing-section-title
      %h3 Try it live

    %iframe{:src => demo_path}

.landing-section.landing-section-crossplatform
  .landing-section-crossplatform-mask
  .container
    .row
      .col-lg-6.offset-lg-6
        %h2 Multi-platform
        %p.mb-4 Use HoneyDo on any device with a browser.  Nothing to install, no setup required.


.landing-section.landing-section-faq
  .container
    .landing-section-title
      %h3 Frequently Asked Questions
    .row.pt-4
      .col-md-6
        %h4.mb-3 How much does it cost?
        %p.mb-5
          Nothing! HoneyDo began as a project for myself and my family, since it's proven useful, we've decided to share it.

      .col-md-6
        %h4.mb-3 How do you make money?
        %p.mb-5
          Operating costs on HoneyDo are essentially zero (aside from labor).  In the future we may include advertisements or product recommendations/referrals to generate some income should it get big enough to need a budget.

    .row.pt-4
      .col-md-6
        %h4.mb-3 Can I share my list with my family?
        %p.mb-5
          Absolutely.  HoneyDo was designed as a tool to help manage your household.  As such, you can invite family, friends, roommates, or whoever to be able to see your lists.  You can manage their permissions and allow them to create or delete items as well.
      .col-md-6
        %h4.mb-3 How can I install this on my phone?
        %p.mb-5
          HoneyDo isn't an app, it's a website.  You don't need to install anything. You don't need to use up precious storage space on your phone.  If you like, you can bookmark HoneyDo on your home screen and it will behave just like an app!
