// Names of Colors:

$color-white: #FFF;

// grays
$color-gray-whisper: #faf6fb;
$color-gray-venus: #959094;

// purples
$color-royal-purple: #633991;

// pinks
$color-hot-pink: #fc73b4;

// elements

$landing-section-light-bg: $color-gray-whisper;
$landing-section-title-color: $color-royal-purple;
$landing-card-icon-color: $color-hot-pink;
$landing-card-title-color: $color-royal-purple;
$landing-card-body-color: $color-gray-venus;
