@import "./honey_do/signin";

html, body { height: 100%; }
body {
  display: flex;
  flex-direction: column;
}

.flash-wrap {
  position: fixed;
  top: 7px;
  z-index: 1200;
  width: 100%;
}

.content-wrap {
  flex: 1 0 auto;
}

.honeydo-footer {
  flex-shrink: 0;
  width: 100%;
  padding-left: 2em;
  padding-right: 2em;
  color: $footer-font-color;
}
