@import "./honey_do/signin";

body { }

.flash-wrap {
  position: fixed;
  top: 7px;
  z-index: 1200;
  width: 100%;
}

.honeydo-footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding-left: 2em;
  padding-right: 2em;
  color: $footer-font-color;
}
