//@import "bootstrap_overrides";

//@import "./fonts"

// application styles
@import "./colors";
@import "./honey_do/app";

.flash-wrap {
  position: fixed;
  top: 7px;
  z-index: 1200;
  width: 100%;
}
