$font-family-base: 'Roboto Condensed', sans-serif;

@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/reboot";
@import "~bootstrap/scss/mixins";

@import "~compass-mixins/lib/compass";

@import "./colors";
@import "./layout";
@import "./honey_do/navbar";

.honey-do-landing-wrap {
  h1, h2, h3, h4, h5 {
    color: $landing-section-title-color;
  }
}
.honeydo-hero {
  padding: 8em 3em 0;
  text-align: center;
  @include background-image(linear-gradient( 135deg, rgba(60, 8, 118, 0.8) 0%, rgba(250, 0, 118, 0.8) 100%));

  .honey-do-hero-title, .honey-do-hero-subtitle {
    color: $color-white;
  }

  .hero-img-wrap {
    position: relative;
    height: 0;
    overflow: hidden;
    margin-top: 3rem;
    padding-bottom: 100%;
  }
  .hero-img-frame {
    max-width: 480px;
    width: 70%;
  }
  .hero-img-position {
    position: absolute;
    top: 0;
    left: 0; right: 0;
    width: 60.3%;
    max-width: 414px;
    min-height: 100%;
    overflow: hidden;
    margin-left: auto; margin-right: auto;
    padding-top: 14%
  }
  .hero-img-placeholder {
    position: absolute;
    top: 0; bottom: 0;
    left: 0; right: 0;
    width: 100%; height: 100%;
    padding-top: 24%;
    img { width: 100%; }
  }
  .hero-vid {
    position: absolute;
    top: 0; bottom: 0;
    left: 0; right: 0;
    padding-top: 24%;
    video { width: 100%; }
  }
}

.honeydo-hero-title {
  font-weight: bold;
}

.honeydo-hero-subtitle {
  letter-spacing: 1px;
  font-size: 1.5em;
  opacity: 0.7;
}

.landing-section {
  margin-bottom: 2em;
  padding: 3.4em 0;

  &.light-bg {
    background-color: $landing-section-light-bg;
  }
}

.landing-section-title {
  margin-bottom: 3rem;
  text-align: center;
}

.card.features {
  margin-bottom: 2rem;

  @include box-shadow(0px 5px 7px 0px rgba(0, 0, 0, 0.04));
  @include transition-property(all);
  @include transition-duration(0.3s);
  @include transition-timing-function(ease);
  &.hover, &:hover {
    transform: translateY(-6px);
    @include box-shadow(0px 5px 30px 0px rgba(0, 0, 0, 0.14));
  }
}

.card.features:before {
  content: "";
  position: absolute;
  top: 0; bottom: 0;
  left: 0;
  width: 3px;
  color: #fc73b4;
  background: -moz-linear-gradient(top, #9477b4 0%, #fc73b4 100%);
  background: -webkit-linear-gradient(top, #9477b4 0%, #fc73b4 100%);
  background: linear-gradient(to bottom, #9477b4 0%, #fc73b4 100%);
}

.card-title { color: $landing-card-title-color; }

.card-text { color: $landing-card-body-color; }

.feature-icon {
  font-size: 3em;
  color: $landing-card-icon-color;
  i:before {
    @include background-image(linear-gradient(to bottom, #9477b4 0%, #fc73b4 100%));
    @include background-clip(text);
    -webkit-text-fill-color: transparent;
  }
}

.landing-section-crossplatform {
  position: relative;
  height: 580px;
  background-image: url("images/honey_do_multiplatform001.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right;
  padding: 15em 2em 0;
  @include box-shadow(inset 0 0 10px #000);
  .landing-section-title { text-align: left; }
}

.landing-section-crossplatform-mask {
  position: absolute;
  top: 0; bottom: 0;
  left: 0; right: 0;
  width: 100%;
  height: 100%;
  background-color: $color-gray-whisper;
  opacity: 0.5;
}

.landing-section-try-it iframe {
  width: 100%;
  height: 480px;
  border: 1px solid $color-gray-whisper;
}

@include media-breakpoint-up(md) {
  .honeydo-hero {
    .hero-img-wrap {
      padding-bottom: 70%;
    }
  }

  .landing-section-try-it iframe {
    height: 680px;
  }
}

@include media-breakpoint-up(lg) {
  .honeydo-hero {
    .hero-img-wrap {
      padding-bottom: 50%;
    }
  }
}

@include media-breakpoint-up(xl) {
  .honeydo-hero {
    .hero-img-wrap {
      padding-bottom: 40%;
    }
  }
}
