// Clearly this isn't a great organization of the stylesheets, 
// however I'm not sure what a good organization would be at this point
// I'm planning to just start building and some patterns shoudl emerge later
// that will let me reorganize this.

// One possibility would be to create a stylesheet for each component and have
// the tree mirror the component tree

.honey-do-todo-list {
  ul {
    padding: 0;
    li { list-style-type:none; }
  }
}

.new-todo-button {
  position: fixed;
  bottom: 1rem;
  left: 50%;
  margin-left: -31px;
}

.todo-item {
  &.todo-item-drag-placeholder {
    opacity: 0.2;
    border: 1px dashed black;
  }
  .todo-item-checkbox {
    position: relative;
    top: 50%;
    transform: translateY(50%);
    padding-left: 15%;
  }
  .todo-item-drag-handle {
    display: inline-block;
    float: left;
    transform: translateY(33%);
    width: 2em;
    height: 2em;
    cursor: move;
    font-size: 1.25em;
    text-align: center;
  }
  .todo-item-content {
    display: inline-block;
    width: 83%;
    &.todo-item-content-expanded {
      .todo-item-tags {
        display: flex;
      }
    }
  }
  .todo-item-notes {
    &.todo-item-notes-truncated {
      width: 95%;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
  .todo-item-controls {
    line-height: 1em;
    i { 
      font-size: 0.5em; 
    }
  }
  .todo-item-tags {
    display: none;
    flex-wrap: wrap;
  }
}

.edit-todo-tag-list {
  display: flex;
  flex-wrap: wrap;
}

.honey-do-spinner {
  position: fixed;
  top: 46%;
  left: 43%;
  z-index: 10;
}

@media (min-width: $screen-sm-min) { }

@media (min-width: $screen-md-min) {
  .todo-item {
    .todo-item-tags {
      display: flex;
    }
  }
}
