// Clearly this isn't a great organization of the stylesheets, 
// however I'm not sure what a good organization would be at this point
// I'm planning to just start building and some patterns shoudl emerge later
// that will let me reorganize this.

// One possibility would be to create a stylesheet for each component and have
// the tree mirror the component tree

.honey-do-todo-list {
  ul {
    padding: 0;
    li {
      list-style-type:none;
    }
  }
}

.new-todo-button {
  position: fixed;
  bottom: 1rem;
  left: 50%;
  margin-left: -31px;
}

.todo-item {
  &.todo-item-drag-placeholder {
    opacity: 0.2;
    border: 1px dashed black;
  }
}

.honey-do-spinner {
  position: fixed;
  top: 46%;
  left: 43%;
  z-index: 10;
}
