// Default styles

.todo-show {
  transition: background-color 2s;
  &.highlight {
    background-color: yellow;
    transition: background-color 0.45s;
  }
  div.complete {
    text-decoration: line-through;
  }
  .todo-reorder {
    text-align: center;
    cursor: grab;
  }
  .todo-controls {
    text-align: right;
    a.btn {
      min-width: 40px;
    }
  }
  .todo-labels {
    padding-left: 25%;
    text-align: center;
    font-size: 0.52em;
  }
}


// Phone styles
@media (max-width: $screen-xs-max) {
  .todo-list .todo-controls-header {
    width: 21%;
  }

  .todo-show {
    font-size: 1.5em;
  }
}

// Tablet styles
@media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
  .todo-show {
    font-size: 1.2em;
  }
}

// Large styles

