%footer.honeydo-footer.py-4.text-center.light-bg
  %p.mb-2
    %small
      COPYRIGHT © #{Time.current.year}. ALL RIGHTS RESERVED Zachery Chin
  %small 
    Made with 
    %i.fa.fa-heart
    in San Francisco
