- is_parked = (defined? parked ? parked : false)

%nav.honeydo-nav.navbar.navbar-expand-md.navbar-dark{:class => (is_parked ? 'parked' : '')}
  .navbar-brand Honey do
  %button.navbar-toggler{:type => 'button', :data => {:toggle => 'collapse', :target => '#navbar_content'}}
    %span.navbar-toggler-icon
  #navbar_content.collapse.navbar-collapse
    %ul.navbar-nav.mr-auto
      %li.nav-item dummy link
    %ul.navbar-nav.ml-auto
      = render 'layouts/session_controls'
