%nav#primary-nav.navbar.navbar-toggleable-md.navbar-light.bg-faded.indigo{:role => 'navigation'}
  %button.navbar-toggler{:type => 'button', :data => {:toggle => 'collapse', :target => '.navbar-responsive-collapse'}}
    %span.navbar-toggler-icon
  = link_to 'Honey Do', root_url, :class => 'navbar-brand'
  .navbar-collapse.collapse.navbar-responsive-collapse
    %ul.navbar-nav.mr-auto
      - if signed_in? && current_user.household && current_user.is_household_admin?
        %li.nav-item= link_to 'Household Settings', edit_household_settings_path, :class => 'nav-link'
      = render 'layouts/session_controls'
