.navbar.navbar-default.navbar-fixed-top{:role => 'navigation'}
  .navbar-header
    %button.navbar-toggle{:type => 'button', :data => {:toggle => 'collapse', :target => '.navbar-responsive-collapse'}}
      %span.icon-bar
      %span.icon-bar
      %span.icon-bar
    = link_to 'Honey Do', root_url, :class => 'navbar-brand'
  .navbar-collapse.collapse.navbar-responsive-collapse
    %ul.nav.navbar-nav.navbar-right
      - if current_user.is_household_admin?
        %li= link_to 'Household Settings', edit_household_settings_path
      = render 'layouts/session_controls'
