!!!
%html
  %head
    %title Honey Do live demo

    %meta{:name => 'viewport', :content => 'width=device-width, initial-scale=1, user-scalable=no'}
    = javascript_pack_tag 'honeydo'
    = stylesheet_pack_tag 'honeydo' unless Rails.env.development?
  %body
    = yield

    - unless Rails.env.development?
      <link href='https://fonts.googleapis.com/css?family=Roboto:400,300,500' rel='stylesheet' type='text/css'>
